<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sea Goodness</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sea Goodness</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://drive.google.com/file/d/0B5gFWD7LnV_SbWtub3h0aldNQWc/view?usp=sharing">Research Document</a></li>
                        <li><a href="https://drive.google.com/file/d/0B5gFWD7LnV_ScmhWY1ktMmlPeHc/view?usp=sharing">Functional Specification</a></li>
                        <li><a href="https://drive.google.com/file/d/0B5gFWD7LnV_SeXNsVzNsdkE1MGs/view?usp=sharing">Project Report</a></li>
                        <li>
                            <a href="https://drive.google.com/file/d/0B5gFWD7LnV_SVVdEY0YxZzJMSzg/view?usp=sharing">Design Document</a></li>
                    </ul>
               
            </ul>
        </div>
    </div>
</div>
<br>

<div class="container">
  <div class="jumbotron">
  <img src = "../static/logo1.jpg" width="80" height="80"/>
    <h1>The Sea Goodness App</h1>
    <p>Dedicated to get information for seafood and how to prepare them
	</p> 
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h5>
	  Fish and shellfish is a nutrient-rich food containing high quality protein, long-chain polyunsaturated
	fatty acids (Omega-3) and important vitamins and minerals</h5>
	<p><strong>Top Commonly Consumed Seafoods:</strong></p>
		<ul>
		<li>Shrimp</li>
		<li>Canned Tuna</li>
		<li>Salmon</li>
		<li>Pollock</li>
		<li>Tilapia</li>
		<li>Catfish</li>
		<li>Crab</li>
		<li>Cod</li>
		<li>Clams/Pangasius/Scallops</li>
		</ul>
    </div>
    <div class="col-sm-4">
      <h3>Features</h3>
	  <ul>
	  <li>Search for Seafood Species easily by common market name</li>
	  <li>Share your pictures through social media</li>
	  <li>
		<a href="https://drive.google.com/file/d/0B5gFWD7LnV_SQk15VjFEQjQxSTg/view?usp=sharing">Download the apk file</a>
	  </li>
	  <li>
		<a href="https://docs.google.com/document/d/1b08Nk7e3wQYNuErV7x0K-UogCIu542lbScU9_nWxLYY/edit?usp=sharing">How to Install</a>
	  </li>   
    </div>
    <div class="col-sm-4">
      <h3>Video Link</h3>        
      <iframe width="360" height="270"
			src="https://www.youtube.com/embed/mIkdDDwOJdY">
		</iframe>

    </div>
  </div>
</div>

<div align="center" id="footer_bottom">
			<div class="contents">			
					<div class="copyright">
					
						Contact: <a href="mailto:C00163855@itcarlow.ie">C00163855@itcarlow.ie</a>
						@2015
						<span>
						Institute of Technology Carlow </span> 
					</div>
			</div>	
		</div>
		
</body>
</html>
