<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sea Goodness</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
  <img src = "../static/logo1.jpg" width="80" height="80"/>
    <h1>The Sea Goodness App</h1>
    <p>Dedicated to get information for seafood and how to prepare them
	</p> 
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h5>
	  Fish and shellfish is a nutrient-rich food containing high quality protein, long-chain polyunsaturated
	fatty acids (Omega-3) and important vitamins and minerals</h5>
	<p><strong>Top Commonly Consumed Seafoods:</strong></p>
		<ul>
		<li>Shrimp</li>
		<li>Canned Tuna</li>
		<li>Salmon</li>
		<li>Pollock</li>
		<li>Tilapia</li>
		<li>Catfish</li>
		<li>Crab</li>
		<li>Cod</li>
		<li>Clams/Pangasius/Scallops</li>
		</ul>
    </div>
    <div class="col-sm-4">
      <h3>Features</h3>
	  <ul>
	  <li>Search for Seafood Species easily by common market name</li>
	  <li>Share your pictures through social media</li>
	  <li>
	  <a href="./install.html">How to install</a>
		</li>
      
    </div>
    <div class="col-sm-4">
      <h3>Video Link</h3>        
      <iframe width="360" height="270"
			src="https://www.youtube.com/embed/mIkdDDwOJdY">
		</iframe>

    </div>
  </div>
</div>

</body>
</html>
